@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

header {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
}

/*iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

#menu h1 {
    font-size: 70px;
    font-family: 'Staatliches', cursive;
}

#menu {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

#menu ul {
    list-style-type: none;
    display: inline-block;
}

#menu ul li {
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
}

#menu ul li a {
    color: black;
    display: inline-block;
    text-decoration: none;
}

#menu ul li a:hover {
    color: black;
    box-shadow: 0px 3px black;
}

#menu img {
   width: 10%;
}

body {
    margin: 0;
    width: 100%;
}

footer {
    margin-bottom: 0px;
    background-color: white;
    margin-left: 100px;
}

footer p {
    font-family: 'Anton', sans-serif;
    text-align: center;
    float: left;
}

#redesSociales img{
    height: 30px;
    padding: 10px;
    display: inline-block;
    margin-left: 200px;
}

h3 {
    margin-left: 50px;
    font-family: 'Anton', sans-serif;
}


.listaConciertos {
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 3px solid black;
}

.listaConciertos2 {
    margin-bottom: 100px;
    margin-right: 600px;
}

.listaConciertos h1, p,
.listaConciertos2 input {
    font-family: 'Anton', sans-serif;
}

.listaConciertos input,
.listaConciertos2 input{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    border-radius: 10px;
    background-color: lightgrey;
    color: black;
    padding: 5px;
    float: right;
    margin-right: 30px;
}

#mapas iframe {
    margin-left: 100px;
    margin-top: 50px;
}

#descripciónConciertos p {
   font-family: 'Aleo', serif;
   text-align: justify;
   margin-left: 50px;
   margin-right: 50px;
   border: 3px solid black;
   padding: 15px;
}

#descripciónConciertos h2 {
    font-family: 'Aleo', serif;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 3px solid black;
}

#descripciónConciertos h3 {
    font-family: 'Aleo', serif;
    margin-left: 50px;
}

#cuadros {
    position: absolute;
    border: 3px solid black;
    background-color: white;
    left: 120px; 
    top: 60px;
    width: 400px;
    height: 590px;
    z-index: 1;
}

#cuadros p {
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 20px;
    text-align: justify;
    font-weight: 200;
    font-family: 'Aleo', serif;
    font-size: 15px;
}

#cuadros2 p,
#cuadros3 p {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 50px;
    text-align: justify;
    font-weight: 200;
    font-family: 'Aleo', serif;
    font-size: 15px;
}

#cuadros2 {
    position: absolute;
    border: 3px solid black;
    background-color: white;
    left: 400px; 
    top: 160px;
    width: 400px;
    height: 430px;
    z-index: 2;
}

#cuadros3 {
    position: absolute;
    border: 3px solid black;
    background-color: white;
    left: 820px; 
    top: 90px;
    width: 400px;
    height: 400px;
    z-index: 3;
}

#left {
    float: left;
    margin-right: 100px;
    margin-top: 10px;
}

#menuPaises {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

#menuPaises ul {
    list-style-type: none;
    display: inline-block;
}

#menuPaises ul li {
    padding-left: 30px;
    padding-right: 50px;
    display: inline-block;
}

#menuPaises ul li a {
    color: black;
    display: inline-block;
    text-decoration: none;
}

#menuPaises ul li a:hover {
    color: black;
    box-shadow: 0px 3px black;
}

#paises {
    text-align: center;
    font-family: 'Staatliches', cursive;
}

#mapas2 {
    margin-left: 250px;
}

/* ESTILO DANIÈ */

/*TIENDA*/
.TiendaFuente {
    font-family: 'Staatliches', cursive;
}


/* FORMULARIO */
#anchoForm{
    width: 90%;
    margin: 0 auto;
}

.text {
    font-size:28px;
    color:rgb(27, 27, 26);
  }
  .parpadea {
    color:white;
    margin-left: 30px;
    animation-name: parpadeo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  } 

/* FONDO  */
#formFanpage,
#formFanpage fieldset,
#formFanpage label,
#formFanpage input,
#formFanpage select,
#formFanpage select#nacion option{
    /* CENTRAR margin: 0 auto; */
    font-family: 'Staatliches', cursive;
    background-image: url(img/fanpage/gigante_normal.jpg);
    filter: grayscale(95%);
    background-repeat: no-repeat;
    /* display: inline-block; */
    /* transition:all .5s ease-in-out; */
    color: lightyellow;
    /* text-decoration: yellow thistle; */
    margin-top: .5em;
    margin-bottom: .5em;
}

#formFanpage label,
#formFanpage input,
#formFanpage select {
    margin-left: 30px;
    font-size: 20px;
}

/* BOTON */

#enviar:hover{
    /* box-shadow: 3px 3px 3px yellow; */
    box-shadow: 0 12px 16px 0 whitesmoke;
    transform: scale(1.2);
    margin-right: .5em;
}


/* DISCO */
/* MULTIMEDIA */
#multimedia video{
    padding-top: 2em;
    margin-left: 25%;
    width: 50%;
    height: fit-content;
}
/* FOTO TEXTO */
.fotoTexto{
    border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding-right: 5em;
	padding-bottom: 5em;
    margin-top: 2em;  
    display: flex;
    text-align: justify;
}
.fotoTexto p{
padding: 2em;
}
a img.fotosDiscos{
    width: 30em;
    margin: 0 auto;   
}
.fotosDiscos:hover{
    transform: scale(1.2);
}

/* TITULOS */
.tituloh3{
    background: linear-gradient(to right, white, grey);  
    font-size: 3em;

}
.tituloh4{
    font-family: 'Staatliches', cursive;
    margin: 2em;
    font-size: 2em;
    text-shadow: 7px 7px #bac2be;
}

/* SUBMENU */
#subMenu{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}
#subMenu h1 {
    font-family: 'Staatliches', cursive;
    font-size: 70px;
}
#subMenu {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}
#subMenu ul {
    list-style-type: none;
    display: inline-block;
}
#subMenu ul li {
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
}
#subMenu ul li a {
    color: black;
    display: inline-block;
    text-decoration: none;
}
#subMenu ul li a:hover {
    color: black;
    box-shadow: 0px 3px black;
}